In [1]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.svm import SVC
from sklearn import metrics
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
df1 = pd.read_csv('~/WorkSpace/GitHub/HeartDisease-NaiveBayes-SVM/tubes2_HeartDisease_train.csv', na_values=['?'])

In [2]:
df1.shape

(779, 14)

In [4]:
df1.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14
0,54,1,4,125.0,216.0,0.0,0.0,140.0,0.0,0.0,NaN,NaN,NaN,1
1,55,1,4,158.0,217.0,0.0,0.0,110.0,1.0,2.5,2.0,NaN,NaN,1
2,54,0,3,135.0,304.0,1.0,0.0,170.0,0.0,0.0,1.0,0.0,3.0,0
3,48,0,3,120.0,195.0,0.0,0.0,125.0,0.0,0.0,NaN,NaN,NaN,0
4,50,1,4,120.0,0.0,0.0,1.0,156.0,1.0,0.0,1.0,NaN,6.0,3

In [5]:
df1.isnull().sum()

Column1       0
Column2       0
Column3       0
Column4      47
Column5      24
Column6      78
Column7       2
Column8      44
Column9      44
Column10     49
Column11    262
Column12    514
Column13    408
Column14      0
dtype: int64

In [6]:
df1.dropna(thresh=8, inplace=True)
df1.dropna(subset=['Column11', 'Column12', 'Column13'], how='all', inplace=True)
df1['Column5'].replace(0, 221, inplace=True)
df1['Column14'].replace(2, 1, inplace=True)
df1['Column14'].replace(3, 1, inplace=True)
df1['Column14'].replace(4, 1, inplace=True)
df1['Column4'].fillna(df1['Column4'].median(), inplace=True)
df1['Column5'].fillna(df1['Column5'].median(), inplace=True)
df1['Column6'].fillna(0, inplace=True)
df1['Column7'].fillna(df1['Column7'].median(), inplace=True)
df1['Column8'].fillna(df1['Column8'].median(), inplace=True)
df1['Column9'].fillna(0, inplace=True)
df1['Column12'].fillna(0, inplace=True)
df1['Column13'].fillna(3, inplace=True)
df1['Column11'].fillna(2, inplace=True)
df1['Column10'].fillna(df1['Column10'].median(), inplace=True)

In [7]:
X = df1[['Column3', 'Column9', 'Column11', 'Column12', 'Column13']]
y = df1['Column14']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)
model = SVC(gamma='scale', kernel='linear')
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [8]:
print(metrics.accuracy_score(predictions, y_test) * 100)

77.51479289940828

In [9]:
print(confusion_matrix(y_test, predictions))

[[37 24]
 [14 94]]

In [11]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.73      0.61      0.66        61
           1       0.80      0.87      0.83       108

   micro avg       0.78      0.78      0.78       169
   macro avg       0.76      0.74      0.75       169
weighted avg       0.77      0.78      0.77       169

In [12]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 0.22485207100591717
MSE: 0.22485207100591717
RMSE: 0.4741856925360751